  /* .medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }
   */

body {
    margin: 0;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    background-image: url(images/castle.jpg);
    background-position: center;
    background-size: cover;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;

}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 250px;
    width: 40vw;
}

.copyright {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    justify-content: end;
    width: 40%;
}

.logo-text {
    width: 60%;
    color: white;
    font-size: 96px;
}

#logo-image {
    height: 180px;
}

.right-top {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-start;
    height: 35%;
    background-color: #f2f2f2;
    padding: 0px 200px 50px 50px;
}

.right-middle {
    height: 30%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.7);
}

.right-bottom {
    height: 35%;
    background-color: #f2f2f2;
}

#tag-text {
    width: 520px;
    font-size: 18px;
}